<template>
  <div id="files" style="height: 100%; background-color: #F5F7FA">
    <v-toolbar dense elevation="1" class="grey--text text--darken-1">
      <v-btn elevation="0" small @click="loadFolder('')">
        <v-icon small color="primary">mdi-home</v-icon>
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn elevation="0" small class="mr-2" @click="openNewFolderDialog()">
        <v-icon small>mdi-folder</v-icon>
      </v-btn>

      <v-btn elevation="0" small @click="openImportDialog()">
        <v-icon small>mdi-upload</v-icon>
      </v-btn>
    </v-toolbar>

    <div>
      <!-- Liste des fichiers -->
      <v-data-table :headers="headers" :items="files" no-data-text="" :footer-props="{
            itemsPerPage: 15,
            itemsPerPageOptions: [15, 30, 50, 100, -1],
            itemsPerPageText: 'Fichiers par page',
            itemsPerPageAllText: 'Tous',
            pageText: '{0}-{1} de {2}'
          }">
        <template v-slot:item="{ item }">
          <tr>
            <td class="link" @click="openItem(item)">
              <v-icon small class="mr-4">{{ mimetypeToIcon(item.mimeType) }}</v-icon>
              <span>{{ item.name }}</span>
            </td>
            <td>{{ sizeToBytes(item.size) }}</td>
            <td>{{ item.mimeType }}</td>
            <td>{{ moment(item.modificationDate) }}</td>
            <td class="flex">
              <v-tooltip bottom v-if="item.mimeType != 'application/fs-folder'">
                <template v-slot:activator="{ on }">
                  <v-btn text @click="downloadFile(item)" v-on="on" class="pa-0 ma-0" style="min-width: 40px">
                    <v-icon small>mdi-download</v-icon>
                  </v-btn>
                </template>
                <span>Télécharger</span>
              </v-tooltip>

              <v-tooltip bottom v-if="item.mimeType != 'application/fs-folder'">
                <template v-slot:activator="{ on }">
                  <v-btn text @click="viewFile(item)" v-on="on" class="pa-0 ma-0" style="min-width: 40px">
                    <v-icon small>mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ouvrir</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    text
                    @click="deleteFile(item)"
                    v-on="on"
                    class="pa-0 ma-0"
                    style="min-width: 40px"
                    :loading="deleting"
                    :disabled="deleting"
                  >
                    <v-icon small>mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Supprimer</span>
              </v-tooltip>
            </td>
          </tr>
        </template>
      </v-data-table>
    </div>

    <!-- Dialogues -->
    <v-dialog v-model="dlg_add_file" width="400px" persistent>
      <v-card class="py-2">
        <v-card-title>Uploader un fichier</v-card-title>
        <v-card-text>
          <v-file-input label="Parcourir" v-model="newFile"></v-file-input>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            elevation="0"
            @click="
              dlg_add_file = false;
              this.loading = false;
            "
            class="mr-2"
            style="min-width: 90px;"
            >Annuler</v-btn
          >
          <v-btn
            elevation="0"
            color="primary"
            :disabled="newFile == '' || loading"
            :loading="loading"
            @click="uploadFile()"
            class="mr-4"
            style="min-width: 90px;"
            >Uploader</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dlg_add_folder" width="350px" persistent>
      <v-card class="py-2">
        <v-card-title>Créer un nouveau dossier</v-card-title>
        <v-card-text>
          <v-text-field v-model="newFolderName" label="Nom du dossier"></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn elevation="0" @click="dlg_add_folder = false" class="mr-2" style="min-width: 90px;">Annuler</v-btn>
          <v-btn elevation="0" color="primary" @click="createFolder()" class="mr-4" style="min-width: 90px;"
            >Créer</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
#files * {
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

.theme--light.v-data-table tbody tr:nth-of-type(odd) {
  background-color: #fafbfc !important;
}

.v-btn {
  border-color: black;
}
</style>

<script>
import api from "@/services/api";
import moment from "moment";
import { mapState } from "vuex";

export default {
  data() {
    return {
      currentFolderId: "",
      dlg_add_file: false,
      dlg_add_folder: false,
      dlg_view_file: false,
      delete_error: false,
      newFile: "",
      newFolderName: null,
      headers: [
        { text: "Nom", value: "name", width: "35%" },
        { text: "Taille", value: "size", width: "10%" },
        { text: "Type", value: "mimeType", width: "20%" },
        { text: "Dernière modification", value: "modificationDate", width: "20%" },
        { text: "Action", width: "15%", sortable: false },
      ],
      files: [],
      loading: false,
      deleting: false,
    };
  },

  computed: {
    ...mapState(["store"]),
  },

  created() {
    this.loadFolder(this.currentFolderId);
  },

  mounted() {
    //
  },

  methods: {
    loadFolder(id) {
      api
        .getFile(this.store.location, id)
        .then((res) => {
          this.currentFolderId = res.data.id;
          api
            .getFileContent(this.store.location, res.data.id)
            .then(res => {
              this.files = res.data;
            })
            .catch(() => {
              this.$snotify.error("Error");
            });
        })
        .catch(() => {
          this.$snotify.error("Error");
        });
    },

    openItem(item) {
      if (item.mimeType == "application/fs-folder") {
        this.loadFolder(item.id);
      } else {
        this.viewFile(item);
      }
    },

    downloadFile(file) {
      window.open(api.getFileURL(this.store.location, file.id, true), "_blank");
    },

    viewFile(file) {
      window.open(api.getFileURL(this.store.location, file.id, false), "_blank");
    },

    deleteFile(file) {
      this.deleting = true;
      api
        .deleteFile(this.store.location, this.currentFolderId, file.name)
        .then((res) => {
          if (res.status == 204) this.loadFolder(this.currentFolderId);
          this.deleting = false;
        })
        .catch(() => {
          this.deleting = false;
          this.$snotify.error("Le dossier n'est pas vide et ne peut donc pas être supprimé", "Impossible");
        });
    },

    openImportDialog() {
      this.newFile = null;
      this.dlg_add_file = true;
    },

    openNewFolderDialog() {
      this.newFolderName = null;
      this.dlg_add_folder = true;
    },

    uploadFile() {
      const formData = new FormData();
      formData.append("name", this.newFile.name);
      formData.append("data", this.newFile);
      this.loading = true;
      api
        .uploadFile(this.store.location, this.currentFolderId, formData)
        .then(() => {
          this.loadFolder(this.currentFolderId);
          this.loading = false;
          this.dlg_add_file = false;
        })
        .catch((error) => {
          if (error.response.status == 409) this.$snotify.error("Le fichier existe déjà !");
          else this.$snotify.error("Error");
          this.loading = false;
          this.dlg_add_file = false;
        });
    },

    createFolder() {
      const formData = new FormData();
      formData.append("name", this.newFolderName);
      api
        .uploadFile(this.store.location, this.currentFolderId, formData)
        .then(() => {
          this.loadFolder(this.currentFolderId);
        })
        .catch(() => {
          this.$snotify.error("Error");
        });
      this.dlg_add_folder = false;
    },

    mimetypeToIcon(mimetype) {
      let icon = "fa-file";
      if (mimetype.startsWith("image")) icon = "mdi-file-image";
      if (mimetype.startsWith("audio")) icon = "mdi-file-music";
      if (mimetype.startsWith("video")) icon = "mdi-file-video";
      if (mimetype == "application/fs-folder") icon = "mdi-folder";
      if (mimetype == "application/pdf") icon = "mdi-file-pdf";
      if (mimetype == "text/plain") icon = "mdi-file-text";
      if (mimetype == "text/html") icon = "mdi-file-code";
      if (mimetype == "application/json") icon = "mdi-file-code";
      if (mimetype == "application/gzip") icon = "mdi-file-archive";
      if (mimetype == "application/zip") icon = "mdi-file-archive";

      if (mimetype == "application/msword") icon = "mdi-file-word";
      if (mimetype == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") icon = "mdi-file-word";
      if (mimetype == "application/vnd.ms-excel") icon = "mdi-file-excel";
      if (mimetype == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet") icon = "mdi-file-excel";
      if (mimetype == "application/vnd.ms-powerpoint") icon = "mdi-file-powerpoint";
      if (mimetype == "application/vnd.openxmlformats-officedocument.presentationml.presentation")
        icon = "mdi-file-powerpoint";

      return icon;
    },

    sizeToBytes(bytes, si = false, dp = 1) {
      const thresh = si ? 1000 : 1024;

      if (Math.abs(bytes) < thresh) {
        return bytes + " B";
      }

      const units = si
        ? ["kB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"]
        : ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"];
      let u = -1;
      const r = 10 ** dp;

      do {
        bytes /= thresh;
        ++u;
      } while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);

      return bytes.toFixed(dp) + " " + units[u];
    },

    moment(date) {
      return moment.utc(date).format("YYYY-MM-DD HH:mm:ss");
    },
  },

  components: {},
};
</script>
