<template>
  <div id="images" style="height: 100%; background-color: #F5F7FA">
    <!-- Toolbar -->
    <v-toolbar elevation="1" class="grey--text text--darken-1">
      <div class="d-flex flex-column pa-2">
        <div class="title">Images</div>
        <div class="caption">
          Photos et autres images
        </div>
      </div>

      <v-spacer></v-spacer>

      <div class="d-flex">
        <v-btn-toggle v-model="toggle_filters" mandatory class="ml-4">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="show_filters = true">
                <v-icon>mdi-filter</v-icon>
              </v-btn>
            </template>
            <span>Montrer les filtres</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="show_filters = false">
                <v-icon>mdi-filter-remove</v-icon>
              </v-btn>
            </template>
            <span>Masquer les filtres</span>
          </v-tooltip>
        </v-btn-toggle>

        <v-btn-toggle v-model="toggle_view" mandatory class="ml-4">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="view = 'thumbnails'">
                <v-icon>mdi-view-grid</v-icon>
              </v-btn>
            </template>
            <span>Miniatures</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="view = 'list'">
                <v-icon>mdi-view-headline</v-icon>
              </v-btn>
            </template>
            <span>Liste</span>
          </v-tooltip>
        </v-btn-toggle>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              @click="refreshData()"
              :loading="loading"
              :disabled="loading"
              style="border-style: solid;
border-width: thin;"
              width="48px"
              height="48px"
              min-width="48px"
              class="ml-4"
              depressed
            >
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Rescanner</span>
        </v-tooltip>
      </div>
    </v-toolbar>

    <div class="d-flex flex-column align-center justify-center" style="width=100%; height: 100%;" v-if="loading">
      <v-progress-circular indeterminate color="primary" :size="70" :width="7"></v-progress-circular>
    </div>

    <div class="d-flex flex-column justify-center" v-else>
      <div class="filters d-flex align-center justify-space-between flex-wrap px-2 py-3" v-if="show_filters">
        <v-radio-group row hide-details v-model="imageTypes">
          <v-radio value="all" label="Toutes" class="mx-3" @click="applyFilters()"></v-radio>
          <v-radio value="pictures" label="Photos" class="mx-3" @click="applyFilters()"></v-radio>
          <v-radio value="others" label="Autres" class="mx-3" @click="applyFilters()"></v-radio>
        </v-radio-group>

        <v-select
          v-model="orderBy"
          :items="orderByItems"
          class="mx-6"
          style="max-width: 200px"
          hide-details
          single-line
          @change="order()"
        >
          <v-icon slot="append">
            mdi-filter-variant
          </v-icon></v-select
        >

        <v-text-field label="Rechercher" v-model="searchField" class="mx-6" style="max-width: 250px" hide-details
          ><v-icon slot="append" @click="search()">
            mdi-magnify
          </v-icon>
        </v-text-field>

        <div class="pa-2">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon v-bind="attrs" v-on="on" @click="reset()">mdi-close</v-icon>
            </template>
            <span>Remettre à zéro</span>
          </v-tooltip>
        </div>
      </div>

      <div class="view">
        <!-- Thumbnails view -->
        <div class="thumbnail-grid d-flex flex-wrap ma-4" v-if="view == 'thumbnails'">
          <div class="thumbnail-card ma-4" v-for="image in filteredImages" :key="image.id">
            <div class="thumbnail-img d-flex align-center justify-content-center" @click="viewImage(image)">
              <v-img contain :src="setThumbnail(image.thumbnail, image.mimeType)" :alt="image.name"></v-img>
            </div>

            <div class="d-flex justify-space-between caption ma-0 pa-2">
              <div class="d-flex flex-column flex-grow">
                <div class="d-flex align-center justify-space-between" style="max-width: 150px">
                  <h4 class=" text-truncate">{{ image.name }}</h4>
                </div>

                <div class="d-flex align-center justify-space-between">{{ image.width }} x {{ image.height }}</div>
              </div>

              <div class="d-flex align-center justify-center">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="editTags(image)">
                      <v-icon color="white">mdi-image-edit-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Editer les tags</span>
                </v-tooltip>

                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="openImageMetadata(image)">
                      <v-icon color="white">mdi-information-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir les Métadonnées</span>
                </v-tooltip>
              </div>
            </div>
          </div>
        </div>

        <!-- List view -->
        <v-data-table
          :headers="headers"
          :items="filteredImages"
          no-data-text=""
          :footer-props="{
            itemsPerPage: 15,
            itemsPerPageOptions: [15, 30, 50, 100, -1],
            itemsPerPageText: 'Fichiers par page',
            itemsPerPageAllText: 'Tous',
            pageText: '{0}-{1} de {2}',
          }"
          v-if="view == 'list'"
        >
          <template v-slot:item="{ item }">
            <tr class="clickable-row">
              <td class="d-flex justify-space-between">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="viewImage(item)">
                      <v-icon>mdi-eye-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="editTags(image)">
                      <v-icon>mdi-image-edit-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Editer les tags</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="openImageMetadata(item)">
                      <v-icon>mdi-information-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir les Métadonnées</span>
                </v-tooltip>
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.width }}</td>
              <td>{{ item.height }}</td>
              <td>{{ item.mimeType.substring(6) }}</td>
              <td>{{ moment(item.creationDate) }}</td>
            </tr>
          </template>
        </v-data-table>
      </div>
    </div>

    <!-- Dialogues -->
    <v-dialog class="" v-model="dlg_tags" width="unset" v-if="selectedImage">
      <v-card class="py-4">
        <v-card-title class="mb-3">Etiquettes de {{ selectedImage.name }}</v-card-title>

        <v-card-text>
          <div class="my-6">
            <h3 class="mb-4">Etiquettes déjà aplliquées</h3>
            <div v-if="selectedImage.tags">
              <span v-for="tag in selectedImage.tags" :key="tag.name">
                <v-chip
                  close
                  close-label="Supprimer le tag"
                  color="primary"
                  close-icon="mdi-close"
                  class="ma-2"
                  @click:close="removeTag(selectedImage, tag.name)"
                  >{{ tag.name }}</v-chip
                >
              </span>
            </div>

            <div v-if="!selectedImage.tags || selectedImage.tags.length == 0">
              L'image n'a pas d'étiquette pour l'instant ...
            </div>
          </div>

          <div class="my-6">
            <h3 class="mb-4">Ajouter des étiquettes existantes à l'image</h3>

            <span v-for="tag in availableTags" :key="tag.name">
              <v-chip color="primary" class="ma-2" @click="addTag(selectedImage, tag.name)">{{ tag.name }}</v-chip>
            </span>
          </div>

          <div class="my-6">
            <h3 class="mb-4">Créer une nouvelle étiquette</h3>
            <div class="d-flex align-baseline space-between">
              <v-text-field label="Nom" v-model="tagName" dense hide-details class="mr-4"></v-text-field>
              <v-btn text @click="addTag(selectedImage, tagName)" :disabled="tagName.length == 0">
                Ajouter
              </v-btn>
            </div>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn elevation="0" @click="dlg_tags = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog class="" v-model="dlg_view" width="unset" v-if="selectedImage">
      <v-card class="flex flex-column flex-grow-0 py-2">
        <div class="d-flex align-center justify-space-between">
          <v-card-title>{{ selectedImage.name }}</v-card-title>
          <v-btn class="mx-4" @click="dlg_view = false"><v-icon>mdi-close</v-icon></v-btn>
        </div>
        <v-card-subtitle>
          <div>{{ selectedImage.width }} x {{ selectedImage.height }}</div>
          <div>{{ dateFromTimestamp(selectedImage.creationDate) }}</div>
        </v-card-subtitle>
        <v-card-text>
          <v-img
            contain
            :src="getImageFile(selectedImage.id)"
            :alt="selectedImage.name"
            :width="selectedImage.width"
            :height="selectedImage.height"
            max-width="100%"
            max-height="70vh"
          ></v-img>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog class="" v-model="dlg_metadata" width="unset" v-if="selectedImage">
      <v-card class="py-2">
        <v-card-title class="mb-2">Nom du fichier {{ selectedImage.name }}</v-card-title>
        <v-card-subtitle class="subtitle-1" v-if="selectedImage.creationDate">
          Date de création {{ dateFromTimestamp(selectedImage.creationDate) }}
        </v-card-subtitle>
        <v-card-text>
          <h3 class="mb-3">Métadonnées</h3>
          <div v-if="Object.keys(selectedImage.tiffdata).length > 0 || Object.keys(selectedImage.exifdata).length > 0">
            <div v-if="Object.keys(selectedImage.tiffdata).length > 0">
              <h4 class="my-2">Tiff</h4>
              <p class="ma-0 pa-0" v-for="(value, name) in selectedImage.tiffdata" :key="name">
                {{ name + ": " + value }}
              </p>
            </div>
            <div v-if="Object.keys(selectedImage.exifdata).length > 0">
              <h4 class="my-2">Exif</h4>
              <p class="ma-0 pa-0" v-for="(value, name) in selectedImage.exifdata" :key="name">
                {{ name + ": " + value }}
              </p>
            </div>
          </div>
          <div v-else>
            <h4>Aucune métadonnée</h4>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn elevation="0" @click="dlg_metadata = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
#images * {
  box-sizing: border-box;
}

.clickable-row {
  cursor: pointer;
}

.thumbnail-grid > .thumbnail-card {
  width: 250px;
  height: 250px;
  border: solid 1px #32bce7;
  border-radius: 5px;
}

.thumbnail-img {
  background-color: black;
  height: 200px;
  cursor: pointer;
  max-height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.thumbnail-card .caption {
  height: 50px;
  background-color: #32bce7;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.v-image {
  max-width: 100%;
  max-height: 100%;
}

.realsize * {
  background-size: auto;
}

.v-tooltip__content {
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 5px;
  color: black;
  opacity: 1 !important;
}

.filters {
  border-bottom: solid 1px grey;
  background-color: #f3f3f3;
  margin: 0;
}

#images .v-input {
  margin: 0;
  padding: 0;
}
</style>

<script>
import api from "@/services/api";
import moment from "moment";
import cloneDeep from "lodash/cloneDeep";
import { mapState } from "vuex";

export default {
  data() {
    return {
      images: [],
      filteredImages: [],
      searchField: "",
      orderBy: "name asc",
      orderByItems: [
        { text: "Nom A-Z", value: "name asc" },
        { text: "Nom Z-A", value: "name desc" },
        { text: "Taille 0-9", value: "size asc" },
        { text: "Taille 9-0", value: "size desc" },
      ],
      imageTypes: "all",
      view: "thumbnails",
      headers: [
        { text: "Actions", width: "10%", sortable: false },
        { text: "Nom de fichier", value: "name", width: "45%" },
        { text: "Largeur", value: "width", width: "10%" },
        { text: "Hauteur", value: "height", width: "10%" },
        { text: "Type mime", value: "mimeType", width: "10%" },
        { text: "Date de création", value: "creationDate", width: "15%" },
      ],
      selectedImage: null,
      selectedImageSource: null,
      dlg_tags: false,
      dlg_view: false,
      dlg_metadata: false,
      toggle_view: undefined,
      show_filters: false,
      toggle_filters: 1,
      tagName: "",
      allTags: [],
      availableTags: [],
      loading: false,
      timerReload: null,
    };
  },

  computed: {
    ...mapState(["store"]),
  },

  created() {
    this.getImages(false);
    this.getAllTags();
  },

  mounted() {
    //
  },

  methods: {
    getImages(filter) {
      api
        .getImages(this.store.location)
        .then((res) => {
          this.images = res.data;
          this.filteredImages = res.data;
          if (filter) this.applyFilters();
          this.order();
        })
        .catch(() => {
          this.$snotify.error("Error");
        });
    },

    order() {
      let property = this.orderBy.split(" ")[0];
      let direction = this.orderBy.split(" ")[1];
      if (direction === "asc") this.filteredImages.sort((a, b) => a[property] > b[property]);
      else this.filteredImages.sort((a, b) => a[property] < b[property]);
    },

    search() {
      const words = this.searchField.split(" ");

      this.filteredImages = this.images.filter((image) => {
        let searchIn = [image.name.toLowerCase(), this.dateFromTimestamp(image.creationDate)];
        for (const index in image.tags) {
          searchIn.push(image.tags[index].name.toLowerCase());
        }
        return words.some((word) => searchIn.join(" ").includes(word.toLowerCase()));
      });
      this.order();
    },

    reset() {
      this.imageTypes = "all";
      this.orderBy = "name asc";
      this.searchField = "";
      this.filteredImages = this.images;
    },

    applyFilters() {
      // Filter images types
      if (this.imageTypes === "all") {
        this.filteredImages = cloneDeep(this.images);
      } else if (this.imageTypes === "pictures") {
        this.filteredImages = this.images.filter(function(el) {
          return Object.keys(el.exifdata).length > 0;
        });
      } else if (this.imageTypes === "others") {
        this.filteredImages = this.images.filter(function(el) {
          return Object.keys(el.exifdata).length === 0;
        });
      }
    },

    setThumbnail(base64, mimetype) {
      if (base64) {
        return "data:" + mimetype + ";base64," + base64;
      } else {
        return "@/assets/img/dummy.png";
      }
    },

    viewImage(image) {
      this.selectedImage = image;
      this.dlg_view = true;
    },

    getImageFile(fileid) {
      return api.getFileURL(this.store.location, fileid, false);
    },

    openImageMetadata(image) {
      this.selectedImage = image;
      this.dlg_metadata = true;
    },

    getAllTags() {
      api
        .getAllTags(this.store.location)
        .then((res) => {
          this.allTags = res.data;
        })
        .catch(() => {
          this.$snotify.error("Error");
        });
    },

    getAvailableTags(image) {
      this.getAllTags();
      return (this.availableTags = this.allTags.filter((tag) => !image.tags.filter((t) => t.name === tag.name).length));
    },

    editTags(image) {
      this.getAvailableTags(image);
      this.allTags.filter((tag) => !image.tags.includes(tag.name));
      this.selectedImage = image;
      this.dlg_tags = true;
    },

    addTag(image, name) {
      if (name != "") {
        api
          .addTag(this.store.location, image.id, name)
          .then(() => {
            image.tags.push({ name: name });
            this.tagName = "";
            this.getAvailableTags(image);
          })
          .catch(() => {
            this.$snotify.error("Error");
          });
      } else {
        this.$snotify.error("Impossible d'ajouter une étiquette vide");
      }
    },

    removeTag(image, name) {
      api
        .removeTag(this.store.location, image.id, name)
        .then(() => {
          image.tags = image.tags.filter((tag) => tag.name !== name);
          this.getAvailableTags(image);
        })
        .catch(() => {
          this.$snotify.error("Error");
        });
    },

    moment(date) {
      if (date) return moment.utc(date).format("YYYY-MM-DD HH:mm:ss");
      else return "inconnu";
    },

    dateFromTimestamp(timestamp) {
      return timestamp ? moment.utc(timestamp).format("DD/MM/YYYY") : "";
    },

    refreshData() {
      this.loading = true;
      api
        .refreshImages()
        .then(() => {
          this.timerReload = setInterval(this.reloadImages, 5000);
        })
        .catch(() => {
          this.$snotify.error("Error");
          this.loading = false;
        });
    },

    reloadImages() {
      let previousCount = this.images.length;
      api.getImages(this.store.location).then((res) => {
        this.images = res.data;

        if (previousCount == this.images.length) {
          clearInterval(this.timerReload);
          this.filteredImages = res.data;
          this.order();
          this.getAllTags();
          this.loading = false;
        }
      });
    },
  },

  components: {},
};
</script>
