<template>
  <div id="musics" style="height: 100%; background-color: #F5F7FA">
    <!-- Toolbar -->
    <v-toolbar elevation="1" class="grey--text text--darken-1">
      <div class="d-flex flex-column pa-2">
        <div class="title">Musique</div>
        <div class="caption">
          Liste des audios
        </div>
      </div>

      <v-spacer></v-spacer>

      <div class="d-flex">
        <v-btn-toggle v-model="toggle_filters" mandatory class="ml-4">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="show_filters = true">
                <v-icon>mdi-filter</v-icon>
              </v-btn>
            </template>
            <span>Montrer les filtres</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="show_filters = false">
                <v-icon>mdi-filter-remove</v-icon>
              </v-btn>
            </template>
            <span>Masquer les filtres</span>
          </v-tooltip>
        </v-btn-toggle>

        <v-btn-toggle v-model="toggle_view" mandatory class="ml-4">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="view = 'thumbnails'">
                <v-icon>mdi-view-grid</v-icon>
              </v-btn>
            </template>
            <span>Miniatures</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="view = 'list'">
                <v-icon>mdi-view-headline</v-icon>
              </v-btn>
            </template>
            <span>Liste</span>
          </v-tooltip>
        </v-btn-toggle>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              @click="refreshData()"
              :loading="loading"
              :disabled="loading"
              style="border-style: solid;
border-width: thin;"
              width="48px"
              height="48px"
              min-width="48px"
              class="ml-4"
              depressed
            >
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Rescanner</span>
        </v-tooltip>
      </div>
    </v-toolbar>

    <div class="d-flex flex-column align-center justify-center" style="width=100%; height: 100%;" v-if="loading">
      <v-progress-circular indeterminate color="primary" :size="70" :width="7"></v-progress-circular>
    </div>

    <div class="d-flex flex-column justify-center" v-else>
      <div class="filters d-flex align-center justify-space-between flex-wrap px-2 py-3" v-if="show_filters">
        <v-radio-group row hide-details v-model="audioTypes">
          <v-radio value="all" label="Toutes" class="mx-3" @click="applyFilters()"></v-radio>
          <v-radio value="audios" label="Audios" class="mx-3" @click="applyFilters()"></v-radio>
          <v-radio value="others" label="Autres" class="mx-3" @click="applyFilters()"></v-radio>
        </v-radio-group>

        <v-select
          v-model="orderBy"
          :items="orderByItems"
          class="mx-6"
          style="max-width: 200px"
          hide-details
          single-line
          @change="order()"
        >
          <v-icon slot="append">
            mdi-filter-variant
          </v-icon></v-select
        >

        <v-text-field label="Rechercher" v-model="searchField" class="mx-6" style="max-width: 250px" hide-details
          ><v-icon slot="append" @click="search()">
            mdi-magnify
          </v-icon>
        </v-text-field>

        <div class="pa-2">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon v-bind="attrs" v-on="on" @click="reset()">mdi-close</v-icon>
            </template>
            <span>Remettre à zéro</span>
          </v-tooltip>
        </div>
      </div>

      <div class="view">
        <!-- Thumbnails view -->
        <div class="thumbnail-grid d-flex flex-wrap ma-4" v-if="view == 'thumbnails'">
          <div class="thumbnail-card ma-4" v-for="audio in filteredAudios" :key="audio.id">
            <div
              class="thumbnail-img d-flex align-center justify-content-center"
              @click="viewAudio(audio)"
              @mouseover="PlaySound(audio.id)"
              @mouseout="StopSound(audio.id)"
              :class="{ selected: isSelected(audio.id) }"
            >
              <v-img contain src="@/assets/img/default_cover.png" :alt="audio.fileName"></v-img>
              <audio :id="audio.id" controls style="margin-left:auto;margin-right:auto;width: 100%;" hidden>
                <source :src="getAudioFile(audio.id)" />
              </audio>
            </div>

            <div class="d-flex justify-space-between caption ma-0 pa-2" style="height: 70px;">
              <div class="d-flex flex-column flex-grow">
                <div class="d-flex align-center justify-space-between" style="max-width: 150px;">
                  <h4 class=" text-truncate">{{ audio.fileName }}</h4>
                </div>

                <div class="d-flex align-center justify-space-between">Titre : {{ audio.title }} <br /></div>
              </div>

              <div class="d-flex align-center justify-center">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="openAudioMetadata(audio)">
                      <v-icon color="white">mdi-information-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir les Métadonnées</span>
                </v-tooltip>
              </div>
            </div>
          </div>
        </div>

        <!-- List view -->
        <v-data-table
          :headers="headers"
          :items="filteredAudios"
          no-data-text=""
          :footer-props="{
            itemsPerPage: 15,
            itemsPerPageOptions: [15, 30, 50, 100, -1],
            itemsPerPageText: 'Fichiers par page',
            itemsPerPageAllText: 'Tous',
            pageText: '{0}-{1} de {2}'
          }"
          v-if="view == 'list'"
        >
          <template v-slot:item="{ item }">
            <tr class="clickable-row">
              <td class="d-flex justify-space-between">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="viewAudio(item)">
                      <v-icon>mdi-eye-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="openAudioMetadata(item)">
                      <v-icon>mdi-information-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir les Métadonnées</span>
                </v-tooltip>
              </td>
              <td>{{ item.fileName }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.artist }}</td>
              <td>{{ item.album }}</td>
              <td>{{ item.genre }}</td>
              <td>{{ item.mimeType.substring(6) }}</td>
              <td>{{ moment(item.creationDate) }}</td>
              <td>{{ durationConvert(item.duration) }}</td>
            </tr>
          </template>
        </v-data-table>
      </div>
    </div>

    <!-- Dialogues -->
    <v-dialog eager class="" v-model="audioBox" width="unset">
      <v-card class="py-2">
        <div class="d-flex align-center justify-space-between" v-if="selectedAudio && selectedAudio.fileName">
          <v-card-title class="mb-3">{{ selectedAudio.fileName }}</v-card-title>
          <v-btn class="mx-4" @click="closeView()"><v-icon>mdi-close</v-icon></v-btn>
        </div>
        <v-card-subtitle v-if="selectedAudio">
          <div style="text-align: center;">
            Artiste : {{ selectedAudio.artist }} - Album : {{ selectedAudio.album }} - Date de sortie :
            {{ checkReleaseDate(selectedAudio.releaseDate) }}
          </div>
          <br />
          <div style=" background-color: #eee;">
            <v-img src="@/assets/img/default_cover.png" class="image-popup"></v-img>
          </div>
        </v-card-subtitle>
        <v-card-text>
          <audio id="player" controls autoplay style="margin-left:auto;margin-right:auto;width: 100%;">
            <source :src="null" :type="null" />
          </audio>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog class="" v-model="dlg_metadata" width="unset" v-if="selectedAudio">
      <v-card class="py-2">
        <v-card-title class="mb-2">Nom du fichier {{ selectedAudio.fileName }}</v-card-title>
        <v-card-subtitle class="subtitle-1" v-if="selectedAudio.creationDate">
          Date de création {{ moment(selectedAudio.creationDate) }}
        </v-card-subtitle>
        <v-card-text>
          <h3 class="mb-3">Métadonnées</h3>
          <div v-if="Object.keys(selectedAudio.musicData).length > 0">
            <h4 class="my-2">Musique</h4>
            <div class="ma-0 pa-0" v-for="(value, name) in selectedAudio.musicData" :key="name">
              <p v-if="name == 'duration'">
                {{ name + ": " + durationConvert(selectedAudio.duration) }}
              </p>
              <p v-else>
                {{ name + ": " + value }}
              </p>
            </div>
          </div>
          <div v-else>
            <h4>Aucune métadonnée</h4>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn elevation="0" @click="dlg_metadata = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
#musics * {
  box-sizing: border-box;
}

.clickable-row {
  cursor: pointer;
}

.thumbnail-grid > .thumbnail-card {
  width: 250px;
  /*height: 250px;*/
  border: solid 1px #32bce7;
  border-radius: 5px;
}

.thumbnail-card:hover {
  width: 250px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.5);
}

.thumbnail-img.selected {
  /*height: 410px;*/
  opacity: 0.3;
}

.thumbnail-img {
  /*background-color: black;*/
  height: 200px;
  cursor: pointer;
  max-height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.thumbnail-card .caption {
  height: 50px;
  background-color: #32bce7;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.v-image {
  max-width: 100%;
  max-height: 100%;
}

.realsize * {
  background-size: auto;
}

.v-tooltip__content {
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 5px;
  color: black;
  opacity: 1 !important;
}

.image-popup {
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  width: 300px;
}

.filters {
  border-bottom: solid 1px grey;
  background-color: #f3f3f3;
  margin: 0;
}

.figure {
  margin: 0;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
</style>

<script>
import api from "@/services/api";
import moment from "moment";
import cloneDeep from "lodash/cloneDeep";
import { mapState } from "vuex";

export default {
  data() {
    return {
      audios: [],
      searchField: "",
      filteredAudios: [],
      audioTypes: "all",
      view: "thumbnails",
      orderBy: "name asc",
      orderByItems: [
        { text: "Nom A-Z", value: "fileName asc" },
        { text: "Nom Z-A", value: "fileName desc" },
        { text: "Taille 0-9", value: "duration asc" },
        { text: "Taille 9-0", value: "duration desc" },
      ],
      headers: [
        { text: "Actions", width: "10%", sortable: false },
        { text: "Nom de fichier", value: "fileName", width: "20%" },
        { text: "Titre", value: "title", width: "20%" },
        { text: "Artiste", value: "artist", width: "10%" },
        { text: "Album", value: "album", width: "15%" },
        { text: "Genre", value: "genre", width: "10%" },
        { text: "Type mime", value: "mimeType", width: "10%" },
        { text: "Date de création", value: "creationDate", width: "20%" },
        { text: "Durée", value: "duration", width: "10%" },
      ],
      selectedAudio: null,
      selectedAudioSource: null,
      audioBox: false,
      toggle_filters: 1,
      toggle_view: undefined,
      show_filters: false,
      dlg_metadata: false,
      dlg_view: false,
      selectedCard: -1,
      loading: false,
      timerReload: null,
    };
  },

  computed: {
    ...mapState(["store"]),
  },

  created() {
    this.getMusics(false);
  },

  mounted() {
    //
  },

  methods: {
    openAudioMetadata(audio) {
      this.selectedAudio = audio;
      this.dlg_metadata = true;
    },

    closeView() {
      this.audioBox = false;
      document.getElementById("player").pause();
    },

    viewAudio(audio) {
      this.audioBox = true;

      if (audio != this.selectedVideo) {
        this.selectedAudio = audio;
        let player = document.getElementById("player");
        player.src = this.getAudioFile(audio.id);
        player.type = audio.mimeType;
      }
    },

    PlaySound(selectedIndex) {
      this.selectedCard = selectedIndex;
      var audioElement = document.getElementById(this.selectedCard);
      audioElement.play();
    },

    StopSound(selectedIndex) {
      this.selectedCard = selectedIndex;
      var audioElement = document.getElementById(this.selectedCard);
      audioElement.pause();
      audioElement.currentTime = 0;
      // getBack CSS
      this.selectedCard = -1;
      //if problem put return
    },

    isSelected(cardIndex) {
      return this.selectedCard === cardIndex;
    },

    getThumbnail(base64, mimeType) {
      if (base64) {
        return "data:" + mimeType + ";base64," + base64;
      } else {
        return "@/assets/img/default_cover.png";
      }
    },

    getMusics(filter) {
      api
        .getMusics(this.store.location)
        .then((res) => {
          this.audios = res.data;
          this.filteredAudios = res.data;
          if (filter) this.applyFilters();
          this.order();
        })
        .catch(() => {
          this.$snotify.error("Error");
        });
    },

    order() {
      let property = this.orderBy.split(" ")[0];
      let direction = this.orderBy.split(" ")[1];
      if (direction === "asc") this.filteredAudios.sort((a, b) => a[property] < b[property]);
      else this.filteredAudios.sort((a, b) => a[property] > b[property]);
    },

    search() {
      const words = this.searchField.split(" ");

      this.filteredAudios = this.audios.filter((audio) => {
        let searchIn = [
          audio.fileName.toLowerCase(),
          audio.artist.toLowerCase(),
          audio.album.toLowerCase(),
          audio.releaseDate,
          audio.title.toLowerCase(),
          audio.genre.toLowerCase(),
        ];
        return words.some((word) => searchIn.join(" ").includes(word.toLowerCase()));
      });
      this.order();
    },

    reset() {
      this.aduioTypes = "all";
      this.orderBy = "name asc";
      this.searchField = "";
      this.filteredAudios = this.audios;
    },

    applyFilters() {
      if (this.audioTypes === "all") {
        this.filteredAudios = cloneDeep(this.audios);
      }
    },

    getAudioFile(fileid) {
      return api.getFileURL(this.store.location, fileid, false);
    },

    durationConvert: function(timer) {
      if (timer < 400) {
        if (timer % 2 == 0) {
          timer = parseInt(timer) + (timer * 100000) / 100;
          return moment(timer).format("mm:ss");
        } else {
          timer = (timer * 100000) / 100;
          return moment(timer).format("mm:ss");
        }
        //return moment.duration(timer).format("mm:ss");
      }
      return moment(timer).format("mm:ss");
    },

    moment(date) {
      if (date) return moment.utc(date).format("YYYY-MM-DD HH:mm:ss");
      else return "N/A";
    },

    getMusicMetadata(audio) {
      var formattedData = "";

      if (Object.keys(audio.musicData).length > 0) {
        formattedData += "<h3 class='mb-3'>Métadonnées</h3>";
        if (Object.keys(audio.musicData).length > 0) formattedData += "<h4>Liste</h4>";
        for (const dataname in audio.musicData) {
          if (dataname == "duration") {
            formattedData += "<p class='ma-0 pa-0' >" + dataname + ": " + this.durationConvert(audio.duration) + "</p>";
          } else if (dataname == "releaseDate") {
            formattedData +=
              "<p class='ma-0 pa-0' >" + dataname + ": " + this.checkReleaseDate(audio.musicData[dataname]) + "</p>";
          } else {
            formattedData += "<p class='ma-0 pa-0' >" + dataname + ": " + audio.musicData[dataname] + "</p>";
          }
        }
      } else formattedData += "<h4>Aucune métadonnée</h4>";

      return formattedData;
    },

    checkReleaseDate: function(releaseDate) {
      if (releaseDate == 0 || releaseDate == null) {
        return "N/A";
      } else {
        return releaseDate;
      }
    },

    dateFromTimestamp(timestamp) {
      return timestamp ? moment.utc(timestamp).format("DD/MM/YYYY") : "";
    },

    refreshData() {
      this.loading = true;
      api
        .refreshAudios()
        .then(() => {
          this.timerReload = setInterval(this.reloadAudios, 10000);
        })
        .catch(() => {
          this.$snotify.error("Error");
          this.loading = false;
        });
    },

    reloadAudios() {
      let previousCount = this.audios.length;
      api.getMusics(this.store.location).then((res) => {
        this.audios = res.data;

        if (previousCount == this.audios.length) {
          clearInterval(this.timerReload);
          this.filteredAudios = res.data;
          this.order();
          this.loading = false;
        }
      });
    },
  },

  components: {},
};
</script>
