<template>
  <div id="neighbors"  style="height: 100%; background-color: #F5F7FA">
    <v-toolbar elevation="1" class="grey--text text--darken-1">
      <div class="d-flex flex-column pa-2">
        <div class="title">Rechercher voisins</div>
        <div class="caption">
          Rechercher et filtrer les résultats
        </div>
      </div>
    </v-toolbar>

    <div class="d-flex">
      <!-- Left -->
      <div class="ma-6" style="width:70%">
        <v-text-field
          dense
          hide-details
          outlined
          placeholder="Rechercher voisins, dossiers, fichiers, etc."
          class="white-content border"
        ></v-text-field>

        <div class="d-flex align-center justify-space-between mt-2 mb-6">
          <v-btn elevation="0" color="white" class="border">Rechercher</v-btn>
          <div class="d-flex">
            <v-checkbox dense hide-details class="mt-0 ml-2" label="Voisin" v-model="ck_neighbours"></v-checkbox>
            <v-checkbox dense hide-details class="mt-0 ml-2" label="Dossier" v-model="ck_folder"></v-checkbox>
            <v-checkbox dense hide-details class="mt-0 ml-2" label="Fichier" v-model="ck_file"></v-checkbox>
          </div>
        </div>

        <v-card class="d-flex flex-column" color="white">
          <v-card-title>
            <span class="caption">Résultats de recherche</span>
          </v-card-title>

          <v-card-text class="ma-0 pa-0">
            <v-data-table :headers="headers" :items="neighbours" no-data-text="" hide-default-footer :single-select="selectedNeighbour" show-select>
              <template v-slot:item.data-table-select="{ on, props }">
                <v-simple-checkbox v-bind="props" v-on="on"></v-simple-checkbox>
              </template>
              <template v-slot:item.description="{ item }">
                <tr style="display: inline-block; width: 100%">
                  <td style="display: inline-block; width: 100%">
                    <div class="d-flex align-center justify-space-between">
                      <div class="d-flex pa-2">
                        <v-img height="80" width="80" src="@/assets/img/dummy.png" alt=""></v-img>
                        <div class="d-flex flex-column px-4">
                          <div class="subtitle-1 font-weight-bold secondary--text">{{ item.name }}</div>
                          <div class="caption">{{ item.address }}</div>
                          <div class="subtitle-2 secondary--text">Description of neighbour shares.</div>
                        </div>
                      </div>
                      <v-btn elevation="0" color="primary" style="min-width: 40px">Voir</v-btn>
                    </div>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-card-text>

          <v-card-actions style="background-color: #F7F7F7">
            <div class="d-flex align-center justify-space-between" style="width: 100%">
              <v-btn elevation="0" color="white" class="border">Effacer</v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </div>

      <!-- Right -->
      <div class="ma-6">
        <h3 class="m-0 pb-3">Filtres</h3>
        <div>
          <div class="caption">par type de fichiers</div>
          <v-select class="mt-2 pa-0 white-content border" :items="fileTypes" dense outlined hide-details color="white" v-model="fileType">
          </v-select>
        </div>
        <div class="my-4">
          <div class="caption">par date</div>
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="true"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="date"
                append-icon="mdi-calendar"
                readonly
                hide-details
                outlined
                dense
                v-bind="attrs"
                v-on="on"
                class="white-content border"
              ></v-text-field>
            </template>
            <v-date-picker ref="picker" v-model="date" :max="new Date().toISOString().substr(0, 10)"></v-date-picker>
          </v-menu>
        </div>
        <v-btn elevation="0" color="white" class="border">Appliquer</v-btn>    
      </div>
    </div>
  </div>
</template>

<style scoped>
#neighbors * {
  box-sizing: border-box;
}

#page .white-content {
  background-color: white !important;
}

#page button.border, #page .white-content {
  border-color: #e6e6e6 !important;
  border-style: solid !important;
  border-width: 1px !important;
}
</style>

<script>
import api from "@/services/api";
import { mapState } from "vuex";

export default {
  data() {
    return {
      headers: [{ text: "Description", value: "description", width: "90%" }],
      date: null,
      menu: false,
      fileType: "",
      fileTypes: [
        { header: "IMAGES" },
        "image/jpeg", 
        "image/png", 
        "image/png",
        "Toutes les images",
        { header: "VIDEOS" },
        "Toutes les vidéos",
        { header: "LIVRES" },
        "application/pdf",
        "Tous les livres",
        { header: "AUDIO" },
        "audio/flac",
        "audio/mp3",
        "audio/ogv", 
        "Toutes les musiques",
      ],
      neighbours: [],
      ck_neighbours: false,
      ck_folder: false,
      ck_file: false,
      selectedNeighbour: null
    };
  },

  computed: {
    ...mapState(["store"]),
  },

  created() {
    api.getNeighbours(this.store.location).then((res) => {
      this.neighbours = res.data;
    });
  },

  mounted() {},

  methods: {},

  components: {},
};
</script>
