<template>
  <div id="profile" style="height: 100%; background-color: #F5F7FA">
    <v-toolbar elevation="1" class="grey--text text--darken-1">
      <div class="d-flex flex-column pa-2">
        <div class="title">Gérer mon profil</div>
        <div class="caption">
          Informations à propos de votre store
        </div>
      </div>
    </v-toolbar>

    <div class="d-flex flex-grow-1" v-if="profile">
      <div class="ma-6" style="width:33%; min-width: 300px">
        <v-card class="d-flex flex-column" color="white">
          <v-card-text class="ma-0 pa-0">
            <div>
              <v-simple-table>
                <template v-slot:default>
                  <tbody>
                    <tr class="not-stripped">
                      <td>
                        <v-card-title>
                          <span class="subtitle-1 font-weight-bold secondary--text">{{
                            store ? store.name : "Nom à définir"
                          }}</span>
                        </v-card-title>

                        <v-card-subtitle>
                          <span class="caption">{{ store ? store.location : "Indisponible" }}</span>
                        </v-card-subtitle>
                      </td>
                      <td>
                        <div class="d-flex justify-end">
                          <v-chip class="ma-2" color="primary" small>
                            Gratuit
                          </v-chip>
                        </div>
                      </td>
                    </tr>
                    <tr class="not-stripped" v-if="store">
                      <td>Date de création</td>
                      <td>{{ moment(store.creationDate) }}</td>
                    </tr>
                    <tr class="not-stripped" v-if="store">
                      <td>Propriétaire</td>
                      <td>{{ store.owner }}</td>
                    </tr>
                    <tr class="not-stripped" v-if="store">
                      <td>Utilisateurs autorisés</td>
                      <td>
                        <v-avatar size="36" class="mr-1">
                          <v-img src="../assets/img/user/02.jpg" alt="project member"></v-img>
                        </v-avatar>
                        <v-avatar size="36" class="mr-1">
                          <v-img src="../assets/img/user/04.jpg" alt="project member"></v-img>
                        </v-avatar>
                        <v-avatar size="36" class="mr-1">
                          <v-img src="../assets/img/user/05.jpg" alt="project member"></v-img>
                        </v-avatar>
                        <v-avatar size="36" class="mr-1">
                          <v-img src="../assets/img/user/06.jpg" alt="project member"></v-img>
                        </v-avatar>
                      </td>
                    </tr>
                    <tr class="not-stripped" v-if="store">
                      <td>Status</td>
                      <td>{{ store.status }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </div>
          </v-card-text>

          <v-card-actions style="background-color: #F7F7F7" class="d-flex align-center justify-center">
            <v-btn
              elevation="0"
              color="white"
              class="border no-uppercase"
              @click="store ? destroyStore() : openCreateStoreDialog()"
              :loading="loading"
              :disabled="loading"
            >
              <v-icon left dark> {{ store ? "mdi-delete" : "mdi-plus" }} </v-icon>
              {{ store ? "Détruire votre store" : "Créer votre store" }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>

    <div class="d-flex flex-grow-1" style="height: 100%;" v-else>
      <div class="title d-flex flex-grow-1 align-center justify-center">
        Impossible de récupérer le profil
      </div>
    </div>

    <!-- Dialogue -->
    <v-dialog v-model="dlg_create_store" width="350px" persistent>
      <v-card class="py-2">
        <v-card-title>Créer un nouveau store</v-card-title>
        <v-card-text>
          <v-text-field v-model="newStoreName" label="Nom du store"></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn elevation="0" @click="dlg_create_store = false" class="mr-2" style="min-width: 90px;">Annuler</v-btn>
          <v-btn elevation="0" color="primary" @click="createStore()" class="mr-4" style="min-width: 90px;" :loading="loading" :disabled="loading"
            >Créer</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
#profile * {
  box-sizing: border-box;
}

.no-uppercase {
  text-transform: none;
}

#profile tr.not-stripped {
  background-color: white !important;
}
</style>

<script>
import api from "@/services/api";
import { mapState } from "vuex";
import moment from "moment";

export default {
  data() {
    return {
      dlg_create_store: false,
      newStoreName: null,
      loading: null,
    };
  },

  computed: {
    ...mapState(["profileId", "profile", "store"]),
  },

  created() {
    //
  },

  mounted() {
    //
  },

  methods: {
    openCreateStoreDialog() {
      this.newStoreName = null;
      this.dlg_create_store = true;
    },

    createStore() {
      this.loading = true;
      const data = new URLSearchParams();
      data.append("name", this.newStoreName);
      api
        .createStore(this.profile.id, data)
        .then(() => {
          api.getStore(this.profileId).then((res) => {
            this.$store.commit("setStore", res.data);
            this.dlg_create_store = false;
            this.loading = false;
          });
        })
        .catch(() => {
          this.dlg_create_store = false;
          this.loading = false;
          this.$snotify.error("Error");
        });
      
    },

    destroyStore() {
      this.loading = true;
      if (this.store) {
        api
          .destroyStore(this.store.id)
          .then((res) => {
            if (res.status == 200) {
              console.log("Destroy store");
              this.$store.commit("setStore", null);
              api.setStoreName(null);
            } else {
              this.$snotify.error("Could not destroy store");
            }
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
            this.$snotify.error("Error");
          });
      } else {
        this.$snotify.error("The store doesn't exists");
      }
    },

    moment(date) {
      return moment.utc(date).format("YYYY-MM-DD HH:mm:ss");
    },
  },

  components: {},
};
</script>
