<template>
  <div id="shares" class="d-flex align-center justify-center" style="height: 100%; background-color: #F5F7FA">
    <div class="title" >Not done yet</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //
    };
  },

  mounted() {},

  methods: {},

  components: {},
};
</script>
