<template>
  <div id="status" v-if="status" style="height: 100%; background-color: #F5F7FA">
    <div class="d-flex flex-wrap">
      <!-- Upload card-->
      <v-card rounded-lg class="ma-4 pa-0" width="300px">
        <v-card-text class="d-flex align-items-center align-items-stretch ma-0 pa-0" style="height: 100%;">
          <div class="d-flex align-center justify-center ma-0 pa-0 blue" style="height: 100%; width: 100px;">
            <v-icon x-large color="white">mdi-cloud-upload-outline</v-icon>
          </div>
          <div
            class="d-flex flex-column align-center justify-space-around blue lighten-2 white--text pa-4"
            style="width:100%"
          >
            <div class="title">
              {{ status.store.uploads }} / <small> ({{ status.store.latestUploads }})</small>
            </div>
            <div class="text-uppercase">Uploads<small> (max / latests)</small></div>
          </div>
        </v-card-text>
      </v-card>

      <!-- Download card-->
      <v-card rounded-lg class="ma-4 pa-0" width="300px">
        <v-card-text class="d-flex align-items-center align-items-stretch ma-0 pa-0" style="height: 100%;">
          <div class="d-flex align-center justify-center ma-0 pa-0 deep-purple" style="height: 100%; width: 100px;">
            <v-icon x-large color="white">mdi-cloud-upload-outline</v-icon>
          </div>
          <div
            class="d-flex flex-column align-center justify-space-around deep-purple lighten-2 white--text pa-4"
            style="width:100%"
          >
            <div class="title">
              {{ status.store.downloads }} / <small> {{ status.store.latestDownloads }}</small>
            </div>
            <div class="text-uppercase">Downloads<small> (max / latests)</small></div>
          </div>
        </v-card-text>
      </v-card>

      <!-- Memory card-->
      <v-card rounded-lg class="ma-4 pa-0" width="300px">
        <v-card-text class="d-flex align-items-center align-items-stretch ma-0 pa-0" style="height: 100%;">
          <div class="d-flex align-center justify-center ma-0 pa-0 teal" style="height: 100%; width: 100px;">
            <v-icon x-large color="white">mdi-speedometer</v-icon>
          </div>
          <div
            class="d-flex flex-column align-center justify-space-around teal lighten-2 white--text pa-4"
            style="width:100%"
          >
            <div class="title">
              {{ sizeToBytes(status.server.availableMemory) }} /
              <small>{{ sizeToBytes(status.server.totalMemory) }}</small>
            </div>
            <div class="text-uppercase">Memory <small>(used/total)</small></div>
          </div>
        </v-card-text>
      </v-card>

      <!-- Tine card-->
      <v-card rounded-lg class="ma-4 pa-0" width="300px">
        <v-card-text class="d-flex align-items-center align-items-stretch ma-0 pa-0" style="height: 100%; width: 300px">
          <div
            class="d-flex flex-column justify-center align-center ma-0 pa-4 teal white--text"
            style="height: 100%; width: 100px;"
          >
            <div>{{ time.month }}</div>
            <div class="title">{{ time.day }}</div>
          </div>
          <div class="d-flex flex-column justify-center pa-4">
            <div class="text-uppercase">
              {{ time.weekday }}
            </div>
            <div>{{ time.hour }}</div>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import api from "@/services/api";
import { mapState } from "vuex";


export default {
  data() {
    return {
      refreshInterval: null,
      time: {},
      status: null,
    };
  },

computed: {
    ...mapState(["store"]),
  },

  created() {
    this.getTime();
    this.getStatus();
  },

  mounted() {
    this.refreshInterval = setInterval(
      function() {
        this.getTime();
        this.getStatus();
      }.bind(this),
      60000
    );
  },

  methods: {
    getStatus() {
      api
        .getStatus(this.store.location)
        .then((res) => {
          this.status = res.data;
        })
        .catch(() => {
          this.$snotify.error("Error");
        });
    },

    getTime() {
      const date = new Date();
      this.time.weekday = date.toLocaleString("fr-FR", { weekday: "long" });
      this.time.month = date.toLocaleString("fr-FR", { month: "long" });
      this.time.day = date.toLocaleString("fr-FR", { day: "numeric" });
      this.time.hour = date.toLocaleString("fr-FR", { hour: "2-digit", minute: "2-digit" });
    },

    sizeToBytes(bytes, si = false, dp = 1) {
      const thresh = si ? 1000 : 1024;

      if (Math.abs(bytes) < thresh) {
        return bytes + " B";
      }

      const units = si
        ? ["kB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"]
        : ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"];
      let u = -1;
      const r = 10 ** dp;

      do {
        bytes /= thresh;
        ++u;
      } while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);

      return bytes.toFixed(dp) + " " + units[u];
    },
  },

  components: {
    //
  },
};
</script>
