<template>
  <div id="videos" style="height: 100%; background-color: #F5F7FA">
    <v-toolbar elevation="1" class="background1 grey--text text--darken-1">
      <div class="d-flex flex-column pa-2">
        <div class="title">Vidéos</div>
        <div class="caption">
          Vidéos
        </div>
      </div>

      <v-spacer></v-spacer>

      <div class="d-flex">
        <v-btn-toggle v-model="toggle_filters" mandatory class="ml-4">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="show_filters = true">
                <v-icon>mdi-filter</v-icon>
              </v-btn>
            </template>
            <span>Montrer les filtres</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="show_filters = false">
                <v-icon>mdi-filter-remove</v-icon>
              </v-btn>
            </template>
            <span>Masquer les filtres</span>
          </v-tooltip>
        </v-btn-toggle>

        <v-btn-toggle v-model="toggle_view" mandatory class="ml-4">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="view = 'thumbnails'">
                <v-icon>mdi-view-grid</v-icon>
              </v-btn>
            </template>
            <span>Miniatures</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" @click="view = 'list'">
                <v-icon>mdi-view-headline</v-icon>
              </v-btn>
            </template>
            <span>Liste</span>
          </v-tooltip>
        </v-btn-toggle>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              @click="refreshData()"
              :loading="loading"
              :disabled="loading"
              style="border-style: solid;
border-width: thin;"
              width="48px"
              height="48px"
              min-width="48px"
              class="ml-4"
              depressed
            >
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Rescanner</span>
        </v-tooltip>
      </div>
    </v-toolbar>

    <div class="d-flex flex-column align-center justify-center" style="width=100%; height: 100%;" v-if="loading">
      <v-progress-circular indeterminate color="primary" :size="70" :width="7"></v-progress-circular>
    </div>

    <div class="d-flex flex-column justify-center" v-else>
      <div class="filters d-flex align-center justify-space-between flex-wrap px-2 py-3" v-if="show_filters">
        <v-select
          v-model="orderBy"
          :items="orderByItems"
          class="mx-6"
          style="max-width: 200px"
          hide-details
          single-line
          @change="order()"
        >
          <v-icon slot="append">
            mdi-filter-variant
          </v-icon></v-select
        >

        <v-text-field label="Rechercher" v-model="searchField" class="mx-6" style="max-width: 250px" hide-details
          ><v-icon slot="append" @click="search()">
            mdi-magnify
          </v-icon>
        </v-text-field>

        <div class="pa-2">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon v-bind="attrs" v-on="on" @click="reset()">mdi-close</v-icon>
            </template>
            <span>Remettre à zéro</span>
          </v-tooltip>
        </div>
      </div>

      <div class="view">
        <!-- Thumbnails view -->
        <div class="thumbnail-grid d-flex flex-wrap ma-4" v-if="view == 'thumbnails'">
          <div class="thumbnail-card ma-4" v-for="video in filteredVideos" :key="video.id">
            <div
              class="thumbnail-img d-flex align-center justify-content-center"
              @click="viewVideo(video)"
              @mouseenter="startAnimation(video.id)"
              @mouseleave="stopAnimation(video.id)"
            >
              <v-img
                contain
                v-for="(thumbnail, index) in video.thumbnails"
                :key="index"
                :src="'data:png;base64,' + thumbnail"
                :style="index == 0 ? 'visibility: visible' : 'visibility: hidden'"
                :alt="video.id + '-' + index"
                :class="video.id"
              ></v-img>
            </div>

            <div class="d-flex justify-space-between caption ma-0 pa-2">
              <div class="d-flex flex-column flex-grow">
                <div class="d-flex align-center justify-space-between" style="max-width: 180px">
                  <h4 class=" text-truncate">{{ video.fileName }}</h4>
                </div>

                <div class="d-flex align-center justify-space-between">{{ duration(video.duration) }}</div>
              </div>

              <div class="d-flex align-center justify-center">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="openVideoMetadata(video)">
                      <v-icon color="white">mdi-information-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir les Métadonnées</span>
                </v-tooltip>
              </div>
            </div>
          </div>
        </div>

        <!-- List view -->
        <v-data-table
          :headers="headers"
          :items="filteredVideos"
          no-data-text=""
          :footer-props="{
            itemsPerPage: 15,
            itemsPerPageOptions: [15, 30, 50, 100, -1],
            itemsPerPageText: 'Fichiers par page',
            itemsPerPageAllText: 'Tous',
            pageText: '{0}-{1} de {2}',
          }"
          v-if="view == 'list'"
        >
          <template v-slot:item="{ item }">
            <tr class="clickable-row">
              <td class="d-flex justify-space-between">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="viewVideo(item)">
                      <v-icon>mdi-eye-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" @click="openVideoMetadata(item)">
                      <v-icon>mdi-information-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Voir les Métadonnées</span>
                </v-tooltip>
              </td>
              <td>{{ item.fileName }}</td>
              <td>{{ item.width }} x {{ item.height }}</td>
              <td>{{ duration(item.duration) }}</td>
              <td>{{ item.mimeType.substring(6) }}</td>
              <td>{{ moment(item.creationDate) }}</td>
            </tr>
          </template>
        </v-data-table>
      </div>
    </div>

    <!-- Dialogues -->

    <v-dialog eager v-model="dlg_view" width="unset">
      <v-card class="py-2">
        <div class="d-flex align-center justify-space-between" v-if="selectedVideo && selectedVideo.fileName">
          <v-card-title>{{ selectedVideo.fileName }}</v-card-title>
          <v-btn class="mx-4" @click="closeView()"><v-icon>mdi-close</v-icon></v-btn>
        </div>
        <v-card-text>
          <video id="player" controls autoplay>
            <source src="null" type="null" />
            Sorry, your browser doesn't support embedded videos.
          </video>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog class="" v-model="dlg_metadata" width="unset" v-if="selectedVideo">
      <v-card class="py-2">
        <v-card-title class="mb-2">Nom du fichier {{ selectedVideo.fileName }}</v-card-title>
        <v-card-subtitle class="subtitle-1" v-if="selectedVideo.creationDate">
          Date de création {{ dateFromTimestamp(selectedVideo.creationDate) }}
        </v-card-subtitle>
        <v-card-text>
          <h3 class="mb-3">Métadonnées</h3>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn elevation="0" @click="dlg_metadata = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
#videos * {
  box-sizing: border-box;
}

.clickable-row {
  cursor: pointer;
}

.thumbnail-grid > .thumbnail-card {
  width: 320px;
  height: 250px;
  border: solid 1px #32bce7;
  border-radius: 5px;
  z-index: 1;
}

.thumbnail-img {
  background-color: black;
  height: 180px;
  cursor: pointer;
  max-height: 100%;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.thumbnail-card .caption {
  height: 70px;
  background-color: #32bce7;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.realsize * {
  background-size: auto;
}

.v-image {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.v-tooltip__content {
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 5px;
  color: black;
  opacity: 1 !important;
}

.filters {
  border-bottom: solid 1px grey;
  background-color: #f3f3f3;
  margin: 0;
}

#videos .v-input {
  margin: 0;
  padding: 0;
}
</style>

<script>
import api from "@/services/api";
import moment from "moment";
import { mapState } from "vuex";

export default {
  data() {
    return {
      videos: [],
      filteredVideos: [],
      searchField: "",
      orderBy: "name asc",
      orderByItems: [
        { text: "Nom A-Z", value: "name asc" },
        { text: "Nom Z-A", value: "name desc" },
        { text: "Taille 0-9", value: "size asc" },
        { text: "Taille 9-0", value: "size desc" },
      ],
      view: "thumbnails",
      headers: [
        { text: "Actions", width: "10%", sortable: false },
        { text: "Nom de fichier", value: "name", width: "45%" },
        { text: "Résolution", value: "resolution", width: "10%" },
        { text: "Durée", value: "duration", width: "10%" },
        { text: "Type mime", value: "mimeType", width: "10%" },
        { text: "Date de création", value: "creationDate", width: "15%" },
      ],
      selectedVideo: null,
      selectedVideoSource: null,
      dlg_view: false,
      dlg_metadata: false,
      toggle_view: undefined,
      show_filters: false,
      toggle_filters: 1,
      timer: null,
      loading: false,
      timerReload: null,
    };
  },

  computed: {
    ...mapState(["store"]),
  },

  created() {
    api
      .getVideos(this.store.location)
      .then((res) => {
        this.videos = res.data;
        this.filteredVideos = res.data;
        this.order();
      })
      .catch(() => {
        this.$snotify.error("Error");
      });
  },

  mounted() {
    //
  },

  methods: {
    startAnimation(videoId) {
      var videos = document.getElementsByClassName(videoId);
      let cpt = 0;

      if (videos.length > 0) {
        this.timer = setInterval(changeImage, 1000);
      }

      function changeImage() {
        for (var i = 0; i < videos.length; ++i) {
          videos[i].style.visibility = "hidden";
        }
        videos[cpt].style.visibility = "visible";
        if (cpt == videos.length - 1) cpt = 0;
        else cpt++;
      }
    },

    stopAnimation(videoId) {
      clearInterval(this.timer);
      var videos = document.getElementsByClassName(videoId);
      for (var i = 0; i < videos.length; ++i) {
        videos[i].style.visibility = "hidden";
      }
      if (videos.length > 0) videos[0].style.visibility = "visible";
    },

    viewFile(fileid) {
      window.open(api.getFileURL(this.store.location, fileid, false), "_blank");
    },

    order() {
      let property = this.orderBy.split(" ")[0];
      let direction = this.orderBy.split(" ")[1];
      if (direction === "asc") this.filteredVideos.sort((a, b) => a[property] > b[property]);
      else this.filteredVideos.sort((a, b) => a[property] < b[property]);
    },

    search() {
      const words = this.searchField.split(" ");

      this.filteredVideos = this.videos.filter((video) => {
        let searchIn = [video.fileName.toLowerCase(), this.dateFromTimestamp(video.creationDate)];
        if (video.tags) {
          for (const tag in video.tags) searchIn.push(tag);
        }
        return words.some((word) => searchIn.join(" ").includes(word.toLowerCase()));
      });
      this.order();
    },

    reset() {
      this.orderBy = "name asc";
      this.searchField = "";
      this.filteredVideos = this.videos;
    },

    viewVideo(video) {
      this.dlg_view = true;

      if (video != this.selectedVideo) {
        this.selectedVideo = video;
        let player = document.getElementById("player");
        player.src = this.getVideoFile(video.id);
        player.type = video.mimeType;
      }
    },

    closeView() {
      this.dlg_view = false;
      document.getElementById("player").pause();
    },

    getVideoFile(fileId) {
      return api.getFileURL(this.store.location, fileId, false);
    },

    openVideoMetadata(video) {
      this.selectedVideo = video;
      this.dlg_metadata = true;
    },

    duration: function(seconds) {
      return new Date(seconds * 1000).toISOString().substr(11, 8);
    },

    dateFromTimestamp(timestamp) {
      return timestamp ? moment.utc(timestamp).format("DD/MM/YYYY") : "";
    },

    moment(date) {
      if (date) return moment.utc(date).format("YYYY-MM-DD HH:mm:ss");
      else return "inconnu";
    },

    refreshData() {
      this.loading = true;
      api
        .refreshVideos()
        .then(() => {
          this.timerReload = setInterval(this.reloadVideos, 20000);
        })
        .catch(() => {
          this.$snotify.error("Error");
          this.loading = false;
        });
    },

    reloadVideos() {
      let previousCount = this.videos.length;
      api.getVideos(this.store.location).then((res) => {
        this.videos = res.data;

        if (previousCount == this.videos.length) {
          clearInterval(this.timerReload);
          this.filteredVideos = res.data;
          this.order();
          this.loading = false;
        }
      });
    },
  },

  components: {},
};
</script>
