<template>
  <v-app>
    <!-- App bar -->
    <v-app-bar app flat clipped-left dark class="primary">
      <v-toolbar-title class="ml-6" :to="{ name: 'files' }">
        <img class="img-fluid" src="@/assets/img/logo.png" alt="FileStore Logo" />
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Navigation -->
    <v-navigation-drawer permanent clipped app absolute>
      <v-list nav dense>
        <v-list-item v-if="profile">
          <v-list-item-content class="d-flex flex-column align-center justify-center mt-4">
            <div class="user-block-status mb-2">
              <v-img
                class="img-thumbnail rounded-circle"
                src="https://www.gravatar.com/avatar/${profile.gravatarHash}"
                alt="Avatar"
                width="60"
                height="60"
              />
              <div class="circle"></div>
            </div>
            <p class="subtitle ma-1">Salut, {{ profile.fullname }}</p>
            <p class="caption ma-1">{{ profile.email }}</p>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'profile' }">
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Mon Profil</v-list-item-title>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'files' }" v-if="profile && store">
          <v-list-item-icon>
            <v-icon>mdi-database</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Mon Espace</v-list-item-title>
        </v-list-item>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'shares' }" v-if="profile && store">
          <v-list-item-icon>
            <v-icon>mdi-share-variant</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Mes Partages</v-list-item-title>
        </v-list-item>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'neighbors' }" v-if="profile && store">
          <v-list-item-icon>
            <v-icon>mdi-google-earth</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Mes Voisins</v-list-item-title>
        </v-list-item>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'status' }" v-if="profile && store">
          <v-list-item-icon>
            <v-icon>mdi-speedometer</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Statut</v-list-item-title>
        </v-list-item>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'images' }" v-if="profile && store">
          <v-list-item-icon>
            <v-icon>mdi-image</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Images</v-list-item-title>
        </v-list-item>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'musics' }" v-if="profile && store">
          <v-list-item-icon>
            <v-icon>mdi-music</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Musiques</v-list-item-title>
        </v-list-item>

        <v-list-item active-class="primary--text" class="menuitem" :to="{ name: 'video' }" v-if="profile && store">
          <v-list-item-icon>
            <v-icon>mdi-movie</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Videos</v-list-item-title>
        </v-list-item>

        <v-divider class="mt-3"></v-divider>

        <v-list-item active-class="primary--text" class="menuitem" @click="logout()">
          <v-list-item-icon>
            <v-icon>mdi-exit-run</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Déconnexion</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!-- Current vue -->
    <v-main>
      <router-view />
    </v-main>
    <vue-snotify></vue-snotify>
  </v-app>
</template>

<style>
body * {
  box-sizing: border-box;
}

.v-list-item::after {
  min-height: auto;
}

.menuitem {
  margin: 0px !important;
}

.menuitem:hover,
.menuitem:active {
  color: #24b7e5 !important;
}

.circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 500px;
  margin: 0 0.5em;
  background-color: limegreen;
  vertical-align: baseline;
  border: 2px solid transparent;
}

.user-block-status {
  position: relative;
}

.user-block-status > .circle {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid #fff;
}

.img-thumbnail {
  padding: 0.125rem;
  background-color: #f5f7fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.rounded-circle {
  border-radius: 50% !important;
}
</style>

<script>
import api from "@/services/api";
import keycloak from "./plugins/keycloak";
import { mapState } from "vuex";

export default {
  data() {
    return {
      //
    };
  },

  computed: {
    ...mapState(["profileId", "profile", "store"]),
  },

  created() {
    api.getManagerProfile(this.profileId).then(
      (res) => {
        this.$store.commit("setProfile", res.data);
      },
      () => {
        api.getProfile().then((res) => {
          this.$store.commit("setProfile", res.data);
        });
      }
    );

    api.getStore(this.profileId).then(
      (res) => {
        this.$store.commit("setStore", res.data);
      }
    );
    if(process.env.VUE_APP_NODE_ENV == "development") {
      const store = {
          name: "fake store",
        };
        this.$store.commit("setStore", store);
    }
  },

  mounted() {
    //
  },

  methods: {
    logout() {
      keycloak.logout();
      this.$store.commit("setStore", null);
    },
  },
};
</script>
